#signUpBox {
    transition: opacity 1.5s;
    /* center hor/ver */
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /* rounding/color/size */
    border-radius: 15px;
    background-color: #3e4749;
    height: 58rem;
    width: 24rem;

    /* box shadow */
    -webkit-box-shadow: 2px 6px 49px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 6px 49px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 6px 49px 0px rgba(0, 0, 0, 0.75);
    padding: 1.5rem;
}

.fade-in{
    opacity: 1 !important;
}

#signUplogo{
    height: 9rem;
    margin-left: 6.2rem;
    margin-bottom: .7rem;
}

.signUpText{
    margin-top: .3rem;
    padding-left: .5rem;
    margin-left: 3rem;
    margin-right: 3.3rem;
    font-size: 13pt;
    line-height: 2;
    color: white;
}

.signUpText:focus{
    outline: 0;
}

.signUpTextInput{
    margin-top: .3rem;
    padding-left: .5rem;
    font-size: 12pt;
    line-height: 2;
    width: 50%;
}

#signUpButton{
    background-color: #2d7536;
    height: 2.5rem;
    width: 8rem;
    margin-left: 6.6rem;
    margin-top: .5rem;
    font-size: 14pt;
    border: 0;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

#incorrectSignUp{
    color: white;
    text-align: center;
}

@media (max-height: 1024px) {
    #signUplogo{
        height: 0rem;
    }
    #signUpBox{
        margin-top: 50px;
        height: 50rem;
    }
}