#card{
    /* background-color: rgb(46, 51, 56); */
    height: 85vh;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 2%;
    border-radius: 0.5rem;

}

/* #topRow{
    color: white;
    background-color: rgb(46, 51, 56);
    width: 85%;
} */