/*change tab's bg color when active*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #8f8f8f !important;
}

/*change tab's text color, also when hovered*/
.nav-item{
    color: rgba(255,255,255,.5);
}

.nav-item:hover{
    color: rgba(255,255,255,.75);
}

/*remove nasty outline when clicking tab*/
.nav-item:focus{
    outline: none;
}