/*change tabs' bg color when active*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #8f8f8f !important;
}

/*change tabs' text color, also when hovered*/
.nav-item{
    color: rgba(255,255,255,.5);
}

.nav-item:hover{
    color: rgba(255,255,255,.75);
}

/*remove nasty outline when clicking tab*/
.nav-item:focus{
    outline: none;
}

#detailsCard{
    width: 75%;
    border: none;
    float: left;
}

#detailsCard h2{
    margin-top: 1rem;
    margin-left: 1rem;
}

.card-text{
    margin-left: 2%;
}

#sideBarCard{
    height: 20rem;
    width: 15rem;
    float: right;
    margin-right: 4rem;
    overflow: auto;
}

#sideBarCard::-webkit-scrollbar {
    width: 14px;
}

/* Track */
#sideBarCard::-webkit-scrollbar-track {
    background: #4a4a4a;
    border-radius: 0 0.5rem 0.5rem 0;
}

/* Handle */
#sideBarCard::-webkit-scrollbar-thumb {
    background: #676767;
    border-radius: 0 0.5rem 0.5rem 0;
}

/* Handle on hover */
#sideBarCard::-webkit-scrollbar-thumb:hover {
    background: #2f2f2f;
}

@media (max-width: 1200px) {
    #sideBarCard{
       float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
    }
}