/*This is used for slide in animations*/
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.fontLarge{
    font-size: 120px;
    font-weight: bolder;
}

.fontMedium{
    font-size: 60px;
}
