#loginBox{
    opacity: 0;
    transition: 1.5s opacity;

    /* center hor/ver */
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /* rounding/color/size */
    border-radius: 15px;
    background-color: #3e4749;
    height: 25rem;
    width: 19rem;

    /* box shadow */
    -webkit-box-shadow: 2px 6px 49px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 49px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 6px 49px 0px rgba(0,0,0,0.75);
}

.fade-in{
    opacity: 1 !important;
}

#logo{
    height: 10rem;
    margin-left: 4.6rem;
    margin-top: 1rem;
    margin-bottom: .7rem;
}

input{
    margin-top: .3rem;
    margin-left: 3.3rem;
}

#loginButton{
    background-color: #2d7536;
    height: 2.5rem;
    width: 8rem;
    margin-left: 5.7rem;
    margin-top: 2rem;
    font-size: 14pt;
}